out
dist
node_modules
.vscode-test/
*.vsix
venv

server/themes/*
!server/themes/.gitkeep
!.gitkeep

__pycache__
.pytest_cache
htmlcov
.coverage
.coverage.*
.cache
no
.tox
.nox
.venv
.env
.DS_Store
*.log